{{#extend 'stylesheets'}}
	<link rel="stylesheet" type="text/css" href="/styles/main_styles.css">
	<link rel="stylesheet" type="text/css" href="/styles/single.css">
    <link rel="stylesheet" type="text/css" href="/styles/single_responsive.css">
    <!-- <link rel="stylesheet" type="text/css" href="/styles/responsive.css"> -->
{{/extend}}
<div class="container">
	<div class="row">
		<div class="col">
			<div class="intro">
                <div class="container">
                    <div class="row">

                        
                        {{#each categories}}
                        	
                        	{{#ifCond @index "==" 3}}
                                </div></div></div><div class="intro"><div class="container"><div class="row">
                            {{/ifCond}}
                            <!-- Intro Item -->
	                        <div class="col-md-4 intro_col">
	                            <div class="intro_item">
	                                <img src="/uploads/categories/{{image}}" alt="" class="img-responsive">
	                                <div class="intro_content trans_200"><a href="/categories/{{title}}">{{title}}</a></div>
	                            </div>
	                        </div>

	                    {{/each}}
					</div>
                </div>
            </div>


			<!-- Create New Category  -->
			<div class="reply_form_container">
				<div class="reply_form_title">Create New Category</div>
				<form action="/categories/add?_csrf={{_csrfToken}}" method="POST" enctype="multipart/form-data" id="reply_form" class="reply_form">
					<div class="row">
						<div class="col-md-6">
							<input type="text" name="title" class="reply_input" placeholder="Name" required="required">
						</div>
						<div class="col-md-6">
							<input type="text" name="color" class="reply_input" placeholder="Color" required="required">
						</div>
					</div>
					<input type="file" name="image" class="reply_input" placeholder="Category Image" required="required">
					<textarea class="reply_input reply_textarea" name="description" placeholder="Category Description" required="required"></textarea>
					<button class="reply_button trans_200">submit</button>
				</form>
			</div>
		</div>
				
		
	</div>
</div>
{{#extend 'scripts'}}

	<script src="/js/single.js"></script>
{{/extend}}