{{#extend 'stylesheets'}}
	<link rel="stylesheet" type="text/css" href="/styles/main_styles.css">
	<link rel="stylesheet" type="text/css" href="/styles/single.css">
    <link rel="stylesheet" type="text/css" href="/styles/single_responsive.css">
    <!-- <link rel="stylesheet" type="text/css" href="/styles/responsive.css"> -->
{{/extend}}
<div class="container">
	<div class="row">
		<div class="col">
			<div class="intro">
                <div class="container">
                    <div class="row">

                        
                        {{#each categories}}
                        	
                        	{{#ifCond @index "==" 3}}
                                </div></div></div><div class="intro"><div class="container"><div class="row">
                            {{/ifCond}}
                            <!-- Intro Item -->
	                        <div class="col-md-4 intro_col">
	                            <div class="intro_item">
	                                <img src="/uploads/categories/{{image}}" alt="" class="img-responsive">
	                                <div class="intro_content trans_200"><a href="/categories/{{title}}">{{title}}</a></div>
	                            </div>
	                        </div>

	                    {{/each}}
					</div>
                </div>
            </div>

		</div>
				
		
	</div>
</div>
{{#extend 'scripts'}}

	<script src="/js/single.js"></script>
{{/extend}}