<!DOCTYPE html>
<html>
<head>
	<title></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<!-- <div align="center" class="embed-responsive embed-responsive-16by9">
    <video  class="embed-responsive-item">
        <source src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" type="video/mp4">
    </video>
</div> -->
<!-- <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
</div> -->
<div align="center" class="embed-responsive embed-responsive-21by9">
    <iframe  class="embed-responsive-item" src="file:///C:/Users/my%20computer/Desktop/node/techmag/public/uploads/VID-20180829-WA0010.mp4" allowfullscreen>
    </iframe>
</div>
<!-- 16:9 aspect ratio --> <div class="embed-responsive embed-responsive-16by9"> <video width="320" height="240" controls> <source src="file:///C:/Users/my%20computer/Desktop/node/techmag/public/uploads/VID-20180829-WA0010.mp4" type="video/mp4"> </video> </div> <!-- 4:3 aspect ratio --> <div class="embed-responsive embed-responsive-4by3"> <video width="320" height="240" controls> <source src="file:///C:/Users/my%20computer/Desktop/node/techmag/public/uploads/VID-20180829-WA0010.mp4" type="video/mp4"> </video> </div>
<!-- <div align="center" class="embed-responsive embed-responsive-21by9">
    <iframe  class="embed-responsive-item" src="https://www.gqbuzz.com/comedy-video-mc-lively-change-my-turkey/" allowfullscreen>
    </iframe>
</div> -->
</body>
</html>