
.pagination {
	margin-top: 20px;
	
}
.pagination > li {
	margin: auto;
	
}
.pagination > li > a{
	width:auto;
	height:auto; 
	color:#fff;
}


/*********************************
Tag
**********************************/
.tags
{
	margin-top: 32px;
}
.tags_content
{
	margin-top: 20px;

}
.cat_innovation
{
	background: #f8259f !important;
}
.cat_innovation a
{
	color: #FFFFFF !important;
}
.tag
{
	height: auto;
	background: #ebeded;
	margin-right: 10px;
	margin-bottom: 8px;
}
.tag a
{
	width:auto;
	display: block;
	padding-left: 16px;
	padding-right: 18px;
	font-size: 12px;
	color: #000000;
	line-height: 30px;
}

/*********************************
Newsletter
**********************************/
.newsletter_form
{
	width: 100%;
	margin-top: 22px;
}
.newsletter_input
{
	width: 100%;
	height: 42px;
	background: #ebeded;
	border: none;
	outline: none;
	text-align: center;
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 13px !important;
	font-weight: normal !important;
	font-style: italic;
	color: #b2b2b2 !important;
}
.newsletter_input:-moz-placeholder
{
	font-size: 13px !important;
	font-weight: normal !important;
	font-style: italic;
	color: #b2b2b2 !important;
}
.newsletter_input::-moz-placeholder
{
	font-size: 13px !important;
	font-weight: normal !important;
	font-style: italic;
	color: #b2b2b2 !important;
} 
.newsletter_input:-ms-input-placeholder
{ 
	font-size: 13px !important;
	font-weight: normal !important;
	font-style: italic;
	color: #b2b2b2 !important;
}
.newsletter_input::input-placeholder
{
	font-size: 13px !important;
	font-weight: normal !important;
	font-style: italic;
	color: #b2b2b2 !important;
}
.newsletter_button
{
	width: 100%;
	height: 59px;
	background: #624693;
	border: solid 1px #dcdcdc;
	margin-top: 17px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.35em;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.newsletter_button:hover
{
	 background: #61e49b;
}